@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --primary-color: #F1C001;
    --off-white: #F3F4F6;
    --dark-gray: #333333;
}

body{
    max-width: 600px;
    margin: auto;
    background-color: white;   
    margin-top: 0px;
    font-family: 'Righteous', cursive;
}
h1{
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}
#text-input {
    display: block;
    width: 100%;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Righteous', cursive;
    font-size: medium;
}
#btn-translate{
    margin: 10px 10px 10px 10px;
    height: 50px;
    max-width: 90px;
    font-family: 'Righteous', cursive;
    margin: 1rem;
    padding: 1rem;
    border:none;
    background-color: var(--primary-color);
}
#text-output{
    display: block;
    width: 100%;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    border: 0.025rem solid var(--dark-gray);
    font-family: 'Righteous', cursive;

}